tr {
  text-align: center;
}

/*Receiving data*/
.data-table {
  width: 30%;
  margin: 50px auto;
  background-color: #fdf9f9;
  border-radius: 5px;
}

.ttl {
  padding: 30px 10px;
  font-size: 23px;
}

.txt {
  padding: 10px 20px;
}

.input-txt {
  margin: 10px 0;
  border: 1px solid #033b1d;
  padding: 5px 5px;
}

.input-txt:focus-visible {
  outline: none;
}

.btn {
  margin: 30px;
  padding: 7px 15px;
  border: none;
  background-color: #033b1d;
  color: #fff;
  border-radius: 5px;
}

.message {
  color: #ff0000;
  margin: 10px 0 10px;
}

/*Image showing*/
.image-box {
  width: 70%;
  margin: 20px auto;
}

.img-info {
  margin-right: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.img-file {
  width: 200px;
  display: block;
}

.del-btn {
  margin: 5px 0;
  padding: 7px 15px;
  border: none;
  background-color: #033b1d;
  color: #fff;
  border-radius: 5px;
}

.btn-txt {
  text-decoration: none;
  color: #fff;
}