.wrapper {
  width: 80%;
  margin: 0 auto;
}

.post-table tr td:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50ch;
}

.post-table tr td:nth-child(4) {
  width: 108px;
}

.post-table tr td:nth-child(5) {
  width: 120px;
}

.post-table tr td:last-child {
  width: 250px;
}